$color-white: #fff;
$color-black: #000;
$color-orange: #cf543f;
$color-shadow-white: rgba(255, 255, 255, 0.6);
$color-shadow-black: rgba(0, 0, 0, 0.3);

$defaultTransition: 0.3s ease;

$ff-poppins: 'Poppins', sans-serif;

$gradient: linear-gradient(
    0,
    rgba(69, 46, 244, 1) 0%,
    rgba(32, 156, 231, 1) 100%
);
